/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

/* Admin Buttons */
.admin-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.admin-buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.admin-buttons button:hover {
    background-color: #45a049;
}

/* Dropdown */
.category-dropdown {
    padding: 8px;
    font-size: 14px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Center Content */
.center-content {
    text-align: center;
    font-size: 1.5em;
    transition: opacity 0.5s ease-out;
    margin-top: -300px; /* Move content higher */
}
.hidden-content {
    display: none;
}

/* Questions */
.question-list {
    font-size: 14px; /* Smaller text */
    margin-top: -40px; /* Move questions higher */
}
.question-item {
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.correct-answer {
    font-weight: bold;
    color: red;
}
.correct {
    background-color: #d4edda; /* Vihreä */
}

.incorrect {
    background-color: #f8d7da; /* Punainen */
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #333;
}

p {
    font-size: 18px;
}

ol {
    text-align: left;
    display: inline-block;
    font-size: 18px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    background: #555;
    color: white;
    border-radius: 5px;
}

.btn-primary {
    background: #007BFF;
}

.btn:hover {
    opacity: 0.8;
}

